# Cloudflare R2 (server-side secrets)
R2_ACCOUNT_ID=5b349b9d725df691af62dcd3639081b9
R2_ACCESS_KEY_ID=d04a6d4534b4a96c59e67aec221220f3
R2_SECRET_ACCESS_KEY=09fe53207791b30b67e31c1dc3f317459c64573fc18882e7cf2e62df655d483f
R2_BUCKET_NAME=past-papers

# Optional public R2/custom-domain URL used only for the admin upload response
NEXT_PUBLIC_R2_PUBLIC_URL=https://pub-6e5757674d854a8bb429dcc98634bb9c.r2.dev

# Admin
ADMIN_PASSWORD=ReshanHansitha2006
ADMIN_SESSION_SECRET=ReshanHansitha2006

# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://zmwefiyxfolmrnoiekph.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-yQ0nKy78O23U_6B9J2MYA_dOJWk4jl

# Web3Forms
WEB3FORMS_ACCESS_KEY=8049ee68-e681-46a8-ae4b-37ca7e61d0be
